@import '../utils/utilities';
@import '../utils/variables';

#list-current {
    overflow-y: auto;
    margin: 15px;

    ul {
        list-style-type: none;
    }

    li {
        padding: 10px 0;
        margin: 5px 0;
        width: 100%;
    }

    .list-text {
        display: flex;
        justify-content: flex-start;
        > * {
            margin-right: 10px;
            @include flex-center;
        }

        &.done > input, &.done > span {
            text-decoration: line-through;
            color: lighten($color4, 50%);
        }

        &:hover {
            box-shadow: 5px 0 5px rgba($color4, 0.3), -5px -0 5px rgba($color4, 0.3);

            .buttonDelete {
                visibility: visible;

            }
        }

        .deadline {
            margin-left: auto;
            // margin-right: 0;
        }

        .buttonDelete {
            visibility: hidden;
            background-color: transparent;
            border-style: none;
            padding: 5px;
            transition: visibility 0s;
        }
    }

    #button-add {
        // font-size: 16px;
        padding: 10px;
        width: 100%;
        text-align: left;
        // border-radius: 10px;
        border-style: none;
        // border-color: rgba(darken($color1, 10%), 0.5);
        background-color: transparent;
        * {
            color: #575761;
        }
    }

    .list-edit {
        font-size: 1rem;
        border-color: transparent;
        // display: grid;
        // grid-template-columns: auto 1fr auto auto auto;
        display: flex;
        // grid-template-columns: 1fr auto auto auto;
        // justify-content: flex-start;
        #edit-checkbox {
            flex: 0 0 auto;
        }

        #edit-text {
            flex: 1 1 0;
            text-align: left;
            padding-left: 5px;
        }

        #edit-date {
            flex: 0 1 auto;
        }

        #edit-buttonSave {
            flex: 0 0 auto;
        }

        #edit-buttonDelete {
            flex: 0 0 auto;
        }

        * {
            margin-right: 5px;
            color: $color4;
            text-align: center; 
        }
        
        button {
            //for saving
            padding: 5px;
            text-align: center;
            border-style: none;
            background-color: transparent;
            * {
                color: #575761;
            }
        }
        box-shadow: 5px 0 5px rgba($color4, 0.3), -5px -0 5px rgba($color4, 0.3);
    }
}

#list-title {
    text-transform: capitalize;
}

#list-description {
    font-style: italic;
    color: lighten($color4, 30%);
    margin: 15px 0;
}

@media (max-width: 0) {

    .list-edit {
        flex-wrap: wrap;
        // grid-template-columns: (auto-fill, minmax(100px, 1fr));

    }
    #edit-checkbox {
        flex: 0 0 auto;
    }

    #edit-text {
        flex: 1 0 100%;
    }

    #edit-date {
        flex: 1 0 100%;
    }

    #edit-buttonSave {
        flex: 0 0 auto;
    }

    #edit-buttonDelete {
        flex: 0 0 auto;
    }

    // .deadline {
    //     display: none;
    //     // margin-right: auto;
    //     // min-width: 0;
    // }

    .list-text {
        // flex-wrap: wrap;
        // flex: 1 0 45%;
    }

}