@import '../utils/utilities';
@import '../utils/variables';

nav {
    background-color: $color1;
    border-bottom-left-radius: 20px;
    // overflow-y: scroll;

    ul {
        list-style-type: none;
        padding: 10px;
        padding-right: 0;
        // margin-left: 1rem;
        margin-top: 1rem;
        // margin-right: 2rem;
    }

    li {
        transition: margin 0.3s ease-in-out;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding: 5px 0;
        // padding-right: 10px;

        width: 100%;
        &.active {
            // margin-left: 20px;
            background-color: darken($color1, 40%);
            * {
                color: lighten($color1, 10%);
                text-shadow: 1px 1px 1px rgba($color4, 0.3);
            }
        }
    }
    button {
        width: 100%;
        padding: 10px 0;
        border-color: transparent;
        background-color: transparent;
        text-overflow: ellipsis;
        // display: flex;
        // justify-content: center;
        // flex-wrap: wrap;
    }
}

// @media (max-width: 768px) {
//     nav i {
//         display: none;
//     }
// }