<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta property="og:title" content="XXXXX">
    <meta property="og:description" content="Project I made for The Odin Project">
    <meta property="og:image" content="images/screenshot.png">
    <meta property="og:url" content="https://remtaine.github.io/XXXXX/">
    <meta name="twitter:card" content="images/screenshot.png">

    <meta property="og:site_name" content="XXXXX">
    <meta name="twitter:image:alt" content="XXXXX made using HTML, CSS, and Javascript">

    <!-- svg icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css">
    <script src="https://kit.fontawesome.com/d8f0c855f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <%= require('html-loader!./layout/header.html').default %>
        <%= require('html-loader!./layout/nav.html').default %>
        <section id="list-current">
            <h2>Main</h2>
            <ul>
                <li><input type="checkbox" /> I've been trying</li>
                <li><input type="checkbox" /> To make you love me</li>
                <li><input type="checkbox" /> But everything I try</li>
                <li><input type="checkbox" /> Just takes you further from me</li>
            </ul>
        </section>
    </main>
    
    <%= require('html-loader!./layout/footer.html').default %>

</body>
</html>