<section id="list-current">
    <h2 id="title">Main</h2>
    <p id="description">Did you realize that you're a champion in their eyes?</p>
    <ul>
        <li class="list-text"><input type="checkbox" /> This is the story of a champion</li>
        <li class="list-text"><input type="checkbox" /> Runners on your mark and they pop the guns</li>
        <li class="list-text"><input type="checkbox" /> Stand up, stand up, here he comes</li>
        <li class="list-text"><input type="checkbox" /> Tell me, what it takes to be number one</li>
        <li class="add"><i class="fas fa-plus fa-xs"></i> <span id="list-add-text">add item</span></li>
    </ul>
</section>