<nav>
    <ul>
        <li class="active"><button class="nav-button"><i class="fas fa-home"></i> Main</button></li>
        <li><button class="nav-button"><i class="fas fa-users"></i> Social</button></li>
        <li><button class="nav-button"><i class="fas fa-dumbbell"></i> Gym</button></li>
        <li><button class="nav-button"><i class="fas fa-shopping-basket"></i> Groceries</button></li>
        <li><button class="nav-button"><i class="fas fa-coins"></i> Finance</button></li>
        <li><button><i class="fas fa-plus"></i></button></li>
    </ul>
</nav>